# AWS Credentials for CloudWatch Logs Insights
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# CloudWatch Log Group
CLOUDWATCH_LOG_GROUP=/aws/vendedlogs/states/PaymentProcessStateMachineLogs/master
